.input {
  padding: 3px 16px;

  width: 280px;
  height: 38px;

  border: 1px solid #e6e6e6;

  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 32px;
    color: #a4a4a4;
  }
}

.search__input {
  display: flex;
  align-items: center;
}