.input {
  padding: 3px 16px;

  width: 100%;
  height: 38px;

  border: 1px solid #e6e6e6;

  &::placeholder {
    font-weight: 300;
    line-height: 32px;
    color: #a4a4a4;
  }

  &.subscribe {
    padding: 0 30px;

    height: 46px;

    border: none;
    border-radius: 23px 0 0 23px;

    background-color: #e1e1e1;

    &::placeholder {
      line-height: 46px;
      font-weight: 400;
      color: #222224;
    }
  }
}