@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./../assets/fonts/Lato/latoregular.woff2') format('woff2'), url('./../assets/fonts/Lato/latoregular.woff') format('woff'), url('./../assets/fonts/Lato/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'), url('./../assets/fonts/Lato/latoitalic.woff2') format('woff2'), url('./../assets/fonts/Lato/latoitalic.woff') format('woff'), url('./../assets/fonts/Lato/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'), url('./../assets/fonts/Lato/latomedium.woff2') format('woff2'), url('./../assets/fonts/Lato/latomedium.woff') format('woff'), url('./../assets/fonts/Lato/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('./../assets/fonts/Lato/latobold.woff2') format('woff2'), url('./../assets/fonts/Lato/latobold.woff') format('woff'), url('./../assets/fonts/Lato/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('./../assets/fonts/Lato/latoblack.woff2') format('woff2'), url('./../assets/fonts/Lato/latoblack.woff') format('woff'), url('./../assets/fonts/Lato/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), local('Open-Sans'), url('./../assets/fonts/Open-sans/OpenSans-Regular.woff2') format('woff2'), url('./../assets/fonts/Open-sans/OpenSans-Regular.woff') format('woff'), url('./../assets/fonts/Open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.title-2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  color: #f16d7f;

  &.black {
    color: #4d4d4d;
  }

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 20px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 18px;
  }
}

.title-4 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;

  &.black {
    color: #222222;
  }

  /* Tablet */
  @media (max-width: 1199px) {
    font-size: 16px;
  }
  /* Mobile */
  @media (max-width: 899px) {
    font-size: 14px;
  }
}