.collection {
  padding-bottom: 90px;
  background-color: #ffffff;
}

/* Slider section */

.collection-slider {
  margin-bottom: -85px;
}
.collection-slider-top {
  padding: 65px 0;
  display: flex;
  align-items: center;
  background-color: #f8f3f4;
}
.collection-slider__title {
  margin-right: auto;
}

.collection-select {
  display: flex;
  align-items: center;
}
.collection-select__item {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #636363;

  cursor: pointer;

  &.active {
    font-weight: 700;
    color: #f16d7f;
  }

  &:not(:last-child)::after {
    content: "/";
    margin: 0 0.25em;
  }
}

/* Card info section */

.collection-card {
  margin-bottom: 120px;

  &__wrapper {
    padding: 70px 260px 120px;

    border: 1px solid #eaeaea;
    background-color: #ffffff;
    text-align: center;
  }
}

.collection-card__type {
  position: relative;
  display: inline-block;

  margin-bottom: 18px;
  padding-bottom: 14px;

  border-bottom: 1px solid #eaeaea;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #f16d7f;

  &::after {
    position: absolute;
    content: "";

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    height: 3px;
    width: 63px;

    background-color: #f16d7f;
  }
}
.collection-card__title {
  margin-bottom: 65px;
}

.collection-card__desc {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.collection-card__desc-text {
  margin-bottom: 30px;
}
.collection-card-params {
  margin: 0 auto 35px;

  display: flex;
  align-items: center;

  width: fit-content;

  & > * {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    font-weight: 700;

    span {
      color: #2f2f2f;
    }

    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}
.collection-card__price {
  font-size: 24px;
  font-weight: 700;
  color: #f16d7f;
}

/* Collection purchase */

.collection-settings {
  margin: 0 auto;
  max-width: 535px;
  &__wrapper {
    margin-bottom: 28px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.collection-settings__input {
  width: 144px;
  &-title {
    margin-bottom: 16px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: #2f2f2f;
    font-weight: 700;
    text-align: left;
  }
}

.collection-settings__submit {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 55px;

  border: 1px solid #ef5b70;
  color: #ef5b70;

  & > .fa {
    margin-right: 15px;
  }

  &-text {
    font-size: 16px;
    font-weight: 700;
  }
}

/* Collection offers */

.collection-offers {
  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.collection-item {
  width: 260px;
  cursor: pointer;

  &__image {
    background-color: #e9e9e9;
    width: 100%;
    height: 280px;
    object-fit: contain;
  }

  &__desc {
    padding: 18px 14px;
    text-transform: uppercase;
    line-height: normal;

    &-title {
      margin-bottom: 18px;
      color: #6f6e6e;
    }
  
    &-price {
      font-size: 16px;
      font-weight: 600;
      color: #f16d7f;
    }
  }
}

/* Collection Call to Action */

.collection-cta {
  background-image: ulr("./assets/images/cta/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-slider__wrapper {
  display: flex;
}
.cta-slider {
}
.cta-slider__item {
}
.cta-item__img {
}
.cta-item__desc {
}
.cta-item__desc-text {
}
.cta-item__desc-name {
}
.cta-item__desc-country {
}
.cta-slider__nav {
}
.cta-slider__nav-item {

  &.active {
  }
}