
/* Advantages section */

.advantages {
  /* Mobile */
  @media (max-width: 899px) {
    & .container--flex {
      flex-direction: column;
    }
  }
}

.advantages.bg {
  background-color: #222224;
}

.advantages-left {
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./../assets/images/main/banners/advantages-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 544px;

  /* Mobile */
  @media (max-width: 899px) {
    height: 390px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    height: 290px;
  }
}

.advantages-left__wrapper {
  position: absolute;

  top: 150px;
  left: 35px;

  /* Mobile */
  @media (max-width: 899px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

}
.advantages-left__text-big,
.advantages-left__text {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  /* Mobile */
  @media (max-width: 899px) {
    text-align: center;
  }
}
.advantages-left__text-big {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 54px;

  & span {
    color: #f16d7f;
  }

  /* Mobile */
  @media (max-width: 899px) {
    font-size: 34px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 24px;
  }
}
.advantages-left__text {
  font-size: 32px;

  /* Mobile */
  @media (max-width: 899px) {
    font-size: 24px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    font-size: 18px;
  }
}

.advantages-right {
  padding: 48px 25px;
  background-color: #222224;

  /* Mobile */
  @media (max-width: 899px) {
    width: 100%;
  }

  &:first-child {
    width: 100%;
    padding: 85px 0 100px;

    .advantages-list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      /* Mobile XS */
      @media (max-width: 599px) {
        flex-direction: column;
        row-gap: 25px;
      }
    }

    .advantages-item {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    .advantages-item__icon {
      margin: 0 0 30px 0;

      /* Mobile XS */
      @media (max-width: 599px) {
        margin-bottom: 15px;
      }
    }

    /* Mobile XS */
    @media (max-width: 599px) {
      padding: 40px 0 50px;
    }
  }
}

.advantages-item {
  display: flex;
  max-width: 480px;

  &:not(:last-child) {
    margin-bottom: 50px;

    /* Tablet */
    @media (max-width: 1199px) {
      margin-bottom: 26px;
    }
  }
  /* Mobile */
  @media (max-width: 899px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 0 auto;
  }
}

.advantages-item__icon {
  margin-right: 30px;

  flex-shrink: 0;
  height: 100%;

  transition: transform 0.75s ease-in-out;

  /* Mobile */
  @media (max-width: 899px) {
    margin: 0 0 15px 0;
  }

  &:hover {
    transform: rotate(360deg);
  }
}
.advantages-item-text {
  padding-top: 5px;

  color: #fbfbfb;
}
.advantages-item-text__title {
  padding-left: 2px;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
}
.advantages-item-text__desc {
  font-weight: 700;
  line-height: 24px;
}