/* Collection Call to Action */

.cta {
  background-image: linear-gradient(0deg, rgba(227, 227, 227, 0.75), rgba(227, 227, 227, 0.1)), url("./../assets/images/cta/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    position: absolute;
    content: "";
  
    width: 1px;
    height: 100%;
    
    top: 0;
    left: 50%;

    transform: translateX(-50%);
    background-color: #e3e3e3;

    /* Mobile */
    @media (max-width: 899px) {
      display: none;
    }
  }

  /* Mobile */
  @media (max-width: 899px) {
    & .container--flex-jc {
      flex-direction: column;
    }
  }
}

.cta-slider {
  padding-top: 110px ;
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  /* Mobile */
  @media (max-width: 899px) {
    padding-top: 60px;
  }
}
.cta-slider__item {
  display: flex;
}
.cta-item__img {
  margin-right: 35px;

  width: 83px;
  height: 83px;
  border-radius: 50%;

  object-fit: cover;
}

.cta-item__desc {
  padding-top: 5px;
  max-width: 390px;

  &-text,
  &-name {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 25;
  }
  &-text {
    margin-bottom: 5px;
    font-style: italic;
    color: #222224;
  }
  &-name {
    font-style: 700;
    color: #f16d7f;
  }
  &-country {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 25;
    color: #222224;
  }

  /* Tablet */
  @media (max-width: 1199px) {
    max-width: 250px;
  }
}

.cta-slider__nav {
  padding: 0 0 140px 115px;

  display: flex;
  align-items: center;

  /* Mobile */
  @media (max-width: 899px) {
    padding-bottom: 40px;
  }
}
.cta-slider__nav-item {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6;
  transition: transform 0.25s ease-in-out;
  &.active {
    background-color: #f16d7f;
  }
  &:not(:last-child) {
    margin-right: 13px;
  }
  &:hover {
    transform: scaleY(1.6);
  }
}

/* Cta form */

.cta-subscribe {
  margin-right: 90px;

  width: 386px;
  text-align: center;

  /* Tablet */
  @media (max-width: 1199px) {
    margin-right: 0;
  }

  /* Mobile */
  @media (max-width: 899px) {
    padding-bottom: 60px;
  }

  /* Mobile XS */
  @media (max-width: 599px) {
    width: 290px;
  }
}

.cta-subscribe__sub-title,
.cta-subscribe__title {
  color: #222224;
  text-transform: uppercase;
}
.cta-subscribe__title {
  margin-bottom: 5px;
  font-size: 24px;
}
.cta-subscribe__sub-title {
  margin-bottom: 30px;
}

.cta-subscribe-input {
  display: flex;
  align-items: center;
}